@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Condiment&display=swap");
.blur {
  filter: blur(3px); /* Adjust the intensity of the blur */
  transition: all 0.3s ease-in-out; /* Smooth transition */
}

.glass {
  background: rgba(255, 255, 255, 0.1); /* translucent */
  backdrop-filter: blur(10px); /* blur the background behind it */
  -webkit-backdrop-filter: blur(10px); /* for Safari */
  /* border-radius: 15px; */
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.panel-struct {
  left: 10%;
  right: 10%;
  height: 100vh;
}
.used div {
  font-size: 14px !important;
  display: inline-block;
  padding: 8px 8px;
  border: 2px solid #fff;
  margin: 0px 0px 10px 2px;
  /* t,r,b,l */
  border-radius: 50px;
}
/* .used:hover {
  cursor: text;
}
.used div:hover {
  cursor: text;
} */

body {
  overflow-y: auto;
  scroll-behavior: smooth;
  font-family: "Josefin Sans", sans-serif;
}
.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("background_drop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

#loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgb(120, 190, 255);
  z-index: 999;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#spinner {
  animation: rotate 0.56s infinite linear;
  width: 50px;
  height: 50px;
  border: 12px solid #fff;
  border-bottom: 12px solid rgb(120, 190, 255);
  border-radius: 50%;
  margin: 0;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

::placeholder {
  color: #fff;
}
#footer {
  color: #fff;
  width: 92vw;
  padding: 5vh 4vw;
  text-align: right;
  position: fixed;
  z-index: 1;
  bottom: 0;
  font-size: 16px;
  font-weight: bold;
}
#footer a {
  color: rgb(200, 225, 250);
}
#particles-js {
  position: fixed;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    90deg,
    rgba(200, 225, 250, 1),
    rgba(120, 190, 255, 1)
  );
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(200, 225, 250, 0.8);
}
::selection {
  color: #fff;
  background: rgb(200, 225, 250);
}
.animated {
  will-change: transform, opacity;
}
